@media screen and (max-width:600px) {

    .header,
    main {
        width: 100%;
        padding: 0 1.4rem;
    }

    section {
        padding-top: 2.5rem;
    }

    .section-title {
        font-size: 1.4rem;
    }

    .popular-tours,
    nav,
    .perfect-place,
    .facilities-cards,
    .feedback-fields,
    .newsletter {
        flex-direction: column;
    }

    nav .nav-logo {
        width: 100%;
    }

    nav .nav-list {
        display: none;

    }

    .nav-logo h2,
    .footer-logo h2 {
        margin-left: .5rem;
        font-size: 1.7rem;
    }

    nav .nav-logo i {
        display: block;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 1rem;
        padding-top: 0.5rem;
        width: 310px;
        margin: 0 auto;
    }

    .banner-content {
        top: 6%;
    }

    .banner-input-field {
        width: 342px;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
    }

    .banner-input-field {
        width: 287px;
        gap: 1rem;
        padding: 1rem;
    }

    .banner-input-field input,
    select,
    .banner-btn {
        width: 99%;
    }

    .banner-input-field {
        margin: 1.2rem auto 0;
    }

    .popular-tours-image img {
        width: 100%;
    }

    .popular-tours-texts ul {
        padding-left: 1.6rem;
    }

    .popular-tours {
        gap: 2rem;
    }

    .destination-places {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.4rem;
    }

    .destination-places .places {
        height: 176px;
        width: 100%;
    }

    .destination-places .places img {
        height: 100%;
        width: 100%;
    }

    .destination-texts .section-description,
    .facilities-texts .section-description,
    .discount-texts .section-description,
    .feedback .section-description {
        width: 331px;
        text-align: center;
        margin: 0 auto;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: span 12;
    }

    .destination-places .place-title {
        font-size: 1.3rem;
        font-weight: 700;
    }

    .facilities-cards .card {
        width: 100%;
    }

    .facilities-cards .card {
        padding: 2rem 2rem 2rem 2rem;
    }

    .discount-field .discount-card {
        width: 303px;
        height: 297px;
        padding: 1.3rem;
    }

    .discount-card .extra {
        display: none;
    }

    .discount-field .discount-card h4 {
        font-size: 1.3rem;
        font-weight: 700;
        padding: 1.3rem 0px .5rem;
    }

    .discount-card .primary-btn {
        width: 130px;
        height: 40px;
        font-weight: 600;
        border-radius: .4rem;
    }

    .discount-field .discount-card h5 {
        font-weight: 700;
        font-size: 1.3rem;
        padding: 1rem 0 1.3rem 0;
    }

    .d-card-1,
    .d-card-3 {
        right: 50%;
        top: 50%;
        transform: translate(50%, -27%);
    }

    .d-card-2 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -27%);
    }

    .discount-field .span-1 {
        padding-right: 5rem;
    }

    .see-btn-field {
        display: none;
    }

    .perfect-place-left-text {
        width: 100%;
    }

    .perfect-place-right-video {
        width: 100%;
    }

    .perfect-place-left-text .section-title {
        padding: 0 0rem 1rem 0;
    }

    .perfect-place-right-video video {
        border-radius: 1.5rem;
    }

    .newsletter-form {
        width: 100%;
    }

    .newsletter-image {
        width: 100%;
    }

    .footer {
        padding: 1.5rem
    }

    .footer .section-description {
        width: 338px;
    }

    .newsletter {
        padding-bottom: 3rem;
    }

    .footer .section-description {
        padding: 1rem 0 1rem 0;
    }

    .footer-social-icons {
        padding-bottom: 2rem;
    }

    .copyright-txt {
        margin-top: 1.5rem;
    }

    .footer-social-icons i {
        margin-right: 1.4rem;
        font-size: 2rem;
    }

    .save-card {
        width: 285px;
        height: 105px;
        right: 8px;
    }
}