/* Mulish Font Link */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800;900&display=swap');

/* Reset CSS Start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

/* Reset CSS End  */

/* Common CSS Start  */
main {
    width: 81%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.active,
nav .nav-list .active {
    color: #FF5400;
}

.primary-btn {
    color: #fff;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: all .4s;
}

.primary-btn:hover {
    background-color: #da4b03;
    color: #fff;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    line-height: 26px
}

section {
    padding-top: 6rem;
}

.text-center {
    text-align: center;
}

/* Common CSS End  */

/* Header CSS Start  */
.header {
    width: 81%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 3rem;
}

nav .nav-logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-logo h2,
.footer-logo h2 {
    margin-left: 1rem;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav .nav-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.nav-list li a {
    color: #424247;
    font-size: 1.2rem;
}

nav .nav-logo i {
    position: relative;
    left: 26%;
    font-size: 1.7rem;
    display: none;
    color: #424247;
    cursor: pointer;
}

/* Banner Style */
.banner {
    height: 500px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("../Images/banner-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .9rem;
}

.banner-content {
    position: relative;
    top: 21%;
}

.banner h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

.banner p {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 653px;
    margin: 0 auto;
    padding-top: 1.5rem;
    color: #fff;
}

.banner-input-field {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    padding-left: 32px;
    width: 853px;
    margin: 3rem auto 0;
}

.banner-input-field input,
select,
.primary-btn {
    width: 174px;
    height: 52px;
    font-size: 1rem;
    margin-right: 1.5rem;
}

.banner-input-field input,
select {
    color: rgba(19, 19, 24, 0.50);
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0 1.4rem;
    outline: none;
}

/* Header CSS End  */

/* Popular Tour Section Start */
.popular-tours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.3rem;
}

.popular-tours-texts p {
    padding: 1rem 0;
}

.popular-tours-texts .primary-btn {
    margin-top: 1rem;
}

.popular-tours-texts ul {
    padding-left: 1.6rem;
}

/* Popular Tour Section End */

/* Destination Tour Section Start */

.destination-texts .section-description,
.facilities-texts .section-description,
.discount-texts .section-description {
    width: 640px;
    padding: 1.5rem 0 3rem;
    margin: 0 auto;
}

.destination-places {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}

.maldives,
.indonesia {
    grid-column: span 6;
}

.srilanka {
    grid-column: span 4;
}

.north-america {
    grid-column: span 5;
}

.kashmir {
    grid-column: span 3;
}

.bangladesh {
    grid-column: span 5;
}

.bandarban {
    grid-column: span 7;
}

.destination-places .places {
    position: relative;
}

.destination-places .place-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    color: #fff;
    font-weight: 800;
}

.destination-places .places img {
    width: 100%;
}

/* Destination Tour Section End */


/* Facilities Section Start */

.facilities-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.facilities-cards .card {
    width: 48%;
    padding: 2rem 3.5rem 2rem 2rem;
}

.card-3 {
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid #e9444433;
    background: #e944440d;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid #fbb56333;
    background: #fbb5630d;
}

.card-2 {
    border-radius: 16px;
    border: 1px solid #29cef633;
    background: #29cef60d;
}


.facilities-cards .card h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2rem 0 .7rem 0;
}

/* Facilities Section End */

/* Discount Section Start */
.discount-field {
    min-height: 500px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.discount .field-1,
.discount .field-3 {
    background-image: url("../Images/Group-39.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.discount .field-2 {
    background-image: url("../Images/Group-40.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover;
}

.d-card-1,
.d-card-3 {
    position: absolute;
    right: 5%;
    top: 12%;
    padding: 3rem;
}

.d-card-2 {
    position: absolute;
    left: 5%;
    top: 12%;
}

.discount-field .discount-card {
    width: 580px;
    height: 390px;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.discount-field .discount-card span {
    margin-right: 1.4rem;
}

.discount-field .discount-card h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1.6rem 0 1rem 0;
}

.discount-field .discount-card p {
    color: #5A5A5D;
    line-height: 26px;
}

.discount-field .discount-card h5 {
    font-weight: 800;
    font-size: 1.4rem;
    padding: 1rem 0 1.5rem 0;
}

.see-btn-field {
    padding-top: 3rem;
}

/* Discount Section End */

/* Perfect-Place Section Start */
.perfect-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.perfect-place-left-text {
    width: 48%;
}

.perfect-place-left-text ul {
    padding: 1rem 0 1.5rem 1.5rem;
}

.perfect-place-left-text ul li p {
    color: #131318;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.perfect-place-left-text .section-title {
    padding: 0 7rem 1rem 0;
}

.perfect-place-left-text {
    width: 48%;
}

.perfect-place-right-video {
    width: 48%;
}

.perfect-place-right-video video {
    width: 100%;
    border-radius: 2rem;
}

/* Perfect-Place Section End */


/* Newsletter Section Start */
.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-bottom: 6rem;
}

.newsletter-form {
    width: 40%;
    border: 1px solid #FF5400;
    padding: 2.5rem;
    border-radius: .7rem;
}

.newsletter-form h2 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-form p {
    padding: 1rem 0;
}

.newsletter-form input[type="text"],
input[type="email"] {
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 96%;
    margin-bottom: 1.2rem;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 1rem;
}

.newsletter-form input[type="text"],
input[type="email"]:focus {
    border: 1.5px solid #FF5400;
}

.newsletter-form input[type="submit"] {
    width: 96%;
}

.newsletter-image {
    width: 50%;
    min-height: 422px;
    background-image: url("../Images/Rectangle-8.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 1rem;
    position: relative;
}

.newsletter-form hr {
    width: 96%;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter-form input[type="text"] {
    margin-top: 1.5rem;

}

.save-card {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 47px;
}

.save-card h4 {
    font-size: 1.5rem;
}

.save-card h3 {
    font-size: 2rem;
    font-weight: 800;
}

/* Newsletter Section End */


/* Footer Section End */
.footer {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 6rem 17rem 4rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .section-description {
    width: 765px;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
}

.footer-social-icons i {
    margin-right: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s;
}

.footer-social-icons i:hover {
    color: #FF5400;
}

.footer-social-icons {
    padding-bottom: 3rem;
}

.copyright-txt {
    margin-top: 2.8rem;
}

/* Footer Section End */